@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
:root {
  font-family: "Inter", sans-serif;
  color: #1f2937;
  background: #0F172A;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #31696f;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 100px 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title p {
  color: #F8FAFC;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 2.5rem;
}


/* Navbar */
.navbar {
  color:  #CBD5E1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.logo span {
  color: #38BDF8;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38BDF8;
}
.menu-btn {
  display: none;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}